.hamburger
    position: fixed
    left: 0
    width: 45px
    height: 35px
    border: 0
    border-top: 5px solid #ffffff
    background: transparent
    transition: .3s transform linear
    .same-addons
        display: block
        position: obsolute
        width: 100%
        height: 5px
        background-color: #ffffff
    .middle-line
        transform: translateY(10px)
.action
    border-top: none
